{{!< layouts/main}} 

<h1>Productos en Tiempo Real</h1>


<form id="productForm" class="mb-4">
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Nombre del producto" required>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="price" placeholder="Precio" required>
  </div>
  <button type="submit" class="btn btn-primary">Agregar producto</button>
</form>


<ul id="productList" class="list-group">
  {{#each products}}
    <li class="list-group-item d-flex justify-content-between align-items-center" data-id="{{this.id}}">
      {{this.title}} - ${{this.price}}
      <button class="btn btn-danger btn-sm" onclick="deleteProduct('{{this.id}}')">Eliminar</button>
    </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const form = document.getElementById('productForm');
  const list = document.getElementById('productList');


  form.addEventListener('submit', e => {
    e.preventDefault();
    const product = {
      title: form.title.value,
      price: form.price.value,
    };
    socket.emit('add-product', product);
    form.reset();
  });


  function deleteProduct(id) {
    socket.emit('delete-product', id);
  }


  socket.on('update-products', products => {
    list.innerHTML = products.map(p => `
      <li class="list-group-item d-flex justify-content-between align-items-center" data-id="${p.id}">
        ${p.title} - $${p.price}
        <button class="btn btn-danger btn-sm" onclick="deleteProduct('${p.id}')">Eliminar</button>
      </li>
    `).join('');
  });
</script>
